.login{
    min-height: 100%;
    min-width: 100%;
      

    width: 100%;
    height: auto;
      
    position: fixed;
    top: 0;
    left: 0;
}

.login-div{
    margin-top: 5rem
}

.fr{
    background-color: white;
    min-height: 40rem;
}

.fr-btn{
    margin-top:10rem !important;
}