.layout{
    min-height: calc(100vh - 70px);
    background-image: url("../../assets/images/bground.jpg");
    background-size: 100vh auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}