.home-div{
    min-width: 100% !important;
    margin-top: 5rem;
}


.carousel{
    width: 70rem;
    height: 40rem;
    margin: 3rem auto auto auto;
}


.home{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url("../../assets/images/homeBG.jpg");
    margin-top: -5rem;
    background-size:100% auto;
    background-repeat: no-repeat;
    min-width: 100vw;
}

.home h1{
    font-family: 'Vast Shadow', cursive;
    font-family: 'Major Mono Display', monospace;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 3.5rem;
}

.home-row{
    margin-top: 10rem;
    padding: 5rem;
}

@media only screen and (max-width : 775px){
    .home-row{
        padding: 5rem;
    }

}


@media only screen and (max-width : 579px){
    .home-row{
        padding: 1rem;
    }

}


@media only screen and (max-width : 495px){
    .title h1{
        font-size: 2rem;
    }
    .sec1{
        margin-top: -2.6rem;
    }

}


@media only screen and (max-width : 360px){
    .home-row{
        padding: 0.5rem;
    }

    .title h1{
        font-size: 1.5rem;
    }
    .title h5{
        font-size: 1rem;
    }
    
    .title button{
        margin-top: -1rem;
    }

}

.section {
    padding: 3rem 0;
    min-width: 100vw;
}
