.nav-home .navbar .nav-link, .navbar-brand{
    color: white !important;
}

.mdbnav{
    color: black !important;
}

.nav-home .nav-item :hover{
    color: #0288d1  !important;
}

.nav-home .navbar-brand :hover{
    color: #0288d1  !important;
}

.nav-home .nav-item a.active{
    color: #22ffcf !important;
    font-family:  'Share Tech Mono', monospace;
    font-size: 1.5rem;
    font-weight: bolder;
}

