.stocks{
    margin: auto;
    width: 600px;
    height: 580px;
}

.stocks-page{
    min-height: 100%;
    padding: 5rem;
}

.stocks-stock{
    margin: auto;
    margin-top: -5rem;
    width: 800px;
    height: 300px;
}

input[type=text] {
    box-sizing: border-box;
    background-color: black;
    border: 1px solid green;
    color: white;
 }

.dropDM{
    background: black !important;
}

@media only screen and (max-width:430px){
    .stocks{
        width: 600px;
        height: 650px;
    }    
}