.stocks{
    margin: auto;
    margin-top: 3rem;
    width: 600px;
    height: 580px;
}

.errorDisplay{
    text-align: center;
    padding: 20rem;
    min-height: 100%;
}

.spinner-grow{
    height: 5rem !important;
    width: 5rem !important;
    margin-top: 20rem;
}

.optionrow{
    margin: 1rem;
    background-color: rgba(17, 17, 17, 0.911) ;
}

.optionrow select{
    margin-top: 1rem;
}

.stocks-page input{
    margin: 1rem;
}

.stocks-page label{
    font-size: 1rem;
    display: block;
}

.ag-header-cell-label {
    justify-content: center;
 }

.stocks-page{
    min-height: 100%;
    padding: 5rem;
}

.stocks-single{
    margin: auto;
    margin-top: -5rem;
    width: 810px;
    height: 100px;
}

.stocks-stock{
    margin: auto;
    margin-top: -5rem;
    width: 800px;
    height: 300px;
}

.stocks-page input[type=text] {
    box-sizing: border-box;
    background-color: black;
    border: 1px solid green;
    color: white;
 }

.stocks-page input[type=text]:focus{
    background-color: black;
    border: 2px solid lightgreen;
}

.dropDM{
    background: black !important;
}

@media only screen and (max-width:430px){
    .stocks{
        width: 600px;
        height: 650px;
    }    
}